/*----- STYLES -----*/

/* GENERAL */

body{
	margin-left: 0;
	margin-top: 0;
	margin-right: 0;
	font-family: Arial, "Arial", sans-serif;
	font-size: 100%;
}


h1{
	font-family: Arial, "Arial", sans-serif;
	margin-top: 1%;
	margin-left: 2%;
}

p{
	margin-left: 2%;
}




.button_main{
	width: 100%;
	height: 3.5em;
	margin-top: 1em;
	margin-bottom: 0;
	border: none;
	background-color: #bdc3c7;
	color: black;
	padding: 1em;
	text-align: center;
    text-decoration: none;
    display: inline-block;
	font-size: 1em;
}

/*
.button_main:hover{
	background-color: #d7dbdd;
}
*/

/* NAVBAR */

#nav_back_button{
	height: 1,5em;
	width: 16%;
	margin: 0;
	border: none;
	background-color: #bdc3c7;
	color: black;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 100%;
}

/*
#nav_back_button:hover{
	background-color: #d7dbdd;
}
*/

#nav_bar{
	margin-top: 0;
	background: #bdc3c7;
	overflow: hidden;
	height: 3em;
}

#arrow_back{
	padding-top: 0.75em;
	padding-bottom: 0.75em;
	float: left;
	height: 1.5em;
}

/* INDEX */

#content{
	/*margin-top: 5%;*/
	margin-bottom: 0;
	margin-left: 5%;
	margin-right: 5%;
}

#existing_questions_button{
	margin-top: 1em;
}

#logo_mainPage{
	width: 100%;
}

#logo_ur{
	display: block;
	width:50%;
	margin-left: auto;
	margin-right: auto;
}

#corporateLine_wiwi{
	width: 100%;
	height: 1em;
	margin-top: 0.5em;
}

#usage_overview_button{
	margin-bottom: 2em;
}

/*EXISTING QUESTIONS PAGE*/

#content_existingQuestions{
	margin-left: 5%;
	margin-right: 5%;
}


/* div containing unfold_button, questions and delete_buttons */
.div_category{
	width: 100%;
}

/* unfold_button */
.category_button{
	width: 100%;
	height: 3.5em;
	margin-top: 0;
	margin-bottom: 0;
	border: none;
	background-color: #bdc3c7;
	color: black;
	padding: 1em;
	text-align: left;
    text-decoration: none;
    display: inline-block;
	font-size: 1em;
}

/* p containing questions */
.p_existing_questions{
	margin-top: 1em;
	margin-left: 1%;
	padding-right: 1%;
}

/* delete_button in divs */
.deleteButton {
	border: none;
	background-color: #ffffff;
	margin-top: 0.5em;
	margin-bottom: 2em;
	width: 6em;
}

/* img in delete_buttons */
.deleteIMG{
	width: 100%;
}

/* edit_button in divs */
.editButton{
	border: none;
	background-color: #ffffff;
	margin-top: 0.5em;
	margin-bottom: 2em;
	width: 6em;
}

/* img in edit_buttons */
.editIMG{
	width: 100%;
}

.arrow_down{
	float: left;
	height: 80%;
	margin-right: 2%;
}

/* EDIT QUESTION */

#content_editQuestion{
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 1em;
}


/*NEW QUESTIONS PAGE*/

#content_newQuestions{
	/*margin-top: 5%;*/
	margin-left: 5%;
	margin-right: 5%;
}

.p_new_questions{
	margin-top: 1em;
	margin-left: 1%;
	width: 98%;
}

.form-control{
	margin-top: 0.5em;
	border-radius: 0.5em;
	width: 100%;
	height: 3em;
	border: 0.1em solid;
	border-color: #bdc3c7;
	display: table;
}

.submit_button{
	margin-top: 0.5em;
	border-radius: 0.5em;
	width: 25%;
	height: 3em;
	border: none;
	background-color: #bdc3c7;
}

/*STUDENT PERFORMANCE PAGE*/

#content_studentPerformance{
	/*margin-top: 5%;*/
	margin-left: 5%;
	margin-right: 5%;
}

.chartholder{
	margin-top: 0;
	margin-bottom: 0;
	width: 100%;
}

.chart{
	margin-top: 0;
	margin-bottom: 0;
	width: 100%;
	height: 20em;
}

/* USAGE OVERVIEW PAGE */

#content_usageOverview{
	margin-left: 5%;
	margin-right: 5%;
}

#usage_table{
	width: 100%;
}

table, th, td{
	text-align: left;
	padding: 0.5em;
	border: 1px solid black;
	border-collapse: collapse;
}

th, td {
	padding: 0.5em;
	text-align: left;
}

table#usage_table tr:nth-child(even) {
    background-color: #eee;
}

table#usage_table tr:nth-child(odd) {
   background-color: #fff;
}

table#usage_table th {
    background-color: #aea700;
}

input[type=text], select {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
  }
  
  input[type=submit] {
	width: 100%;
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
  }
  
  input[type=submit]:hover {
	background-color: #45a049;
  }
  
  div {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
  }

  select{
	  margin-left: 2%;
	  width: 50%;
  }