<?xml version='1.0' encoding='utf-8'?>
<widget id="test.firstProject" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Dozentenapp Wirtschaftsinformatik Uni Regensburg</name>
    <description>
      Dozentenapp Wirtschaftsinformatik Uni Regensburg
    </description>
    <author email="gregor.donabauer@stud.uni-regensburg.de">
        Gregor Donabauer
    </author>
    <content src="index.html" />
    <access origin="*" />
    <engine name="browser" spec="~5.0.3" />
    <plugin name="cordova-plugin-network-information" spec="~2.0.1" />
    <feature name="NetworkStatus">
        <param name="android-package" value="org.apache.cordova.networkinformation.NetworkManager" />
    </feature>
    <engine name="ios" spec="~4.5.4" />
</widget>
